#root {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%; //화면넓이의 100%
  height: 100vh;

  background-color: #f5f2f2;
  border: none;
}
.logout-button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  gap: 12px;
  margin-top: 50px;

  width: 200px;
  padding: 16px 20px;
  
  border: 1px solid #868080;
  border-radius: 10px;

  background-color: #f5f4ee;
  color: #f87171;

  font-size: 16px;
  text-align: center;
  cursor: pointer;

  transition: background-color 0.2s;
}

.logout-button:hover {
  background-color: #fef2f2;
}


.logoutpage  {
  font-size: 20px;
  color: #030303;
  margin-bottom: 80px;
}
